:root{
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
    --Light_gray: hsla(0, 2%, 80%, 0.535);
}

  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark_cyan);
}

.profile_img{
    border-radius: 50%;
}


.profile, .profile_stadistic{
    font-weight: 700;
    font-size: 18px;
}

.profile{
    display: flex;
    align-items: center;
    padding: 30px 0 10px 0;
}

.profile_name{
    color: var(--Very_dark_desaturated_blue);
    padding-right: 10px;
}

.profile_city{
    color: var(--Dark_gray);
    font-weight: 400;
    padding: 10px 0px 35px 0px;
}

.profile_data{
    display: flex;
    align-items: center;
    padding-top: 30px;
    width: 100%; 
    color: var(--Very_dark_desaturated_blue); 
    border-top: 1px solid var(--Light_gray);
    justify-content: space-around;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_stadistic_name{
    padding-top: 10px;
    color: var(--Dark_gray);
    font-weight: 400;
}

.card_profile{
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 10px; /*Para darle un borde redondeado a la calse card_profile*/
    display: flex; /*Sirve para acomodar los elementos en forma horizontal (uno al lado del otro)*/
    flex-direction: column; /*Esto es para que cada elemento ocupe una fila (Me hubica los elementos uno debajo del otro)*/
    align-items: center; /*Con el atributo center me hubica los elementos en el centro de la clase card_profile horizontalmente hablando*/
    justify-content: center; /*Con el atributo center me hubica los elementos en el centro verticalmente hablando*/
}


.profile_age{
    color: var(--Dark_gray);
    font-weight: 400;
}